@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-1 md:px-4 mx-auto max-w-[1320px];
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
